body {
    background-color: orange;
    }
    
    h1 {
    color: Black;
    text-align: center;
    }
    
    p {
    font-family: verdana;
    font-size: 30px;
    }
    button a {
    padding: 10px;
    margin: 5px;
    }